* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px 30px;
  z-index: 100;
}

/* фон */
.header-background-gradient {
  position: absolute;
  inset: 0;
  background: rgba(10, 10, 10, 0.6);
  backdrop-filter: blur(12px);
  border-bottom: 3px solid rgba(0, 245, 212, 0.3);
  z-index: 1;
  pointer-events: none;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;

  background: #00f5d4;
  box-shadow: 0 0 10px #00f5d4;
}

/* лого */
.logo {
  position: relative;
  z-index: 3;
  padding: 0px;
  margin-left: 15px;
}

.logo img {
  top: -15px;
  left: 15px;
  bottom: 25%;
  width: 75px;
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* меню */
.menu {
  display: flex;
  gap: 40px;
  margin-left: auto;
  z-index: 200;
}

.menu a, .dropdown-content a {
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #e5e5e5;
}

.menu a:hover, .dropdown-content a:hover {
  color: #169588;
}

/* контейнер */
.dropdown {
  position: relative;
}

/* выпадающий список */
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;

  background: rgba(30, 45, 70, 0.95);
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 5;
}

/* показываем при наведении */
.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ссылки внутри */
.dropdown-content a {
  font-size: 16px;
}

.dropdown-content a:hover {
  color: #169588;
}

/* завершение меню */





/* ОСНОВНАЯ ЧАСТЬ: main.html */

/* СЕКЦИЯ: Последний проэкт */
.hero-content {
  position: relative;
  z-index: 2;
}

.hero-logo {
  width: 750px;
  transform: translateY(-50px);

  filter:
    drop-shadow(0 0 10px rgba(33, 195, 185, 0.6))
    drop-shadow(0 0 20px rgba(33, 195, 185, 0.4));
}

.hero {
  height: 100vh;

  background-image: url("../Картинки/TAO.png");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;

  background-attachment: fixed;

  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(to right, rgba(10,10,10,0.7), rgba(10,10,10,0.3), rgba(10,10,10,0.7));

  z-index: 1;
}

.status {
  color: #00f5d4;
  font-size: 32px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;

  letter-spacing: 1px;
}

.description {
  color: #fff;
  font-size: 24px;
  max-width: 600px;
  line-height: 1.5;
}

.TAO-button {
  display: inline-block;
  margin-top: 30px;
  padding: 18px 55px;
  font-size: 24px;

  background: linear-gradient(45deg, #00f5d4, #00bbf9);
  color: white;

  border-radius: 8px;
  text-decoration: none;

  transition: 0.3s;
}

.TAO-button:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 15px rgba(33,195,185,0.4);
}

/* СЕКЦИЯ: Все проекты */
.all-projects {
  background: linear-gradient(to bottom, #0a0a0a, #0f172a, #0b3d3a);

  padding: 40px;
  text-align: center;
}

.all-projects:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;

  background: #00f5d4;
  box-shadow: 0 0 10px #00f5d4;
}

.projects-grid {
  display: flex;
  gap: 30px;
}

.all-projects h2 {
  color: #fff;
  font-size: 36px;
  letter-spacing: 1px;
}

.all-projects p {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-top: 50px;
  cursor: pointer;
  transition: transform 0.4s ease;

  overflow: hidden;
}

.project-card h3 {
  font-size: 30px;
  color: #fff;
  text-align: left;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.project-card p {
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.project-card:hover img {
  transform: scale(1.1);
}

.project-card:hover h3 {
  color: #00f5d4;
}

.project-card:hover .status {
  color: #ffffff;
}

.project-card {
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.TAO-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* СЕКЦИЯ: Кратко о нас */
.about-us {
  margin-top: 220px;
  text-align: left;

  padding: 100px 50px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  gap: 150px;

  max-width: 1200px;
  margin: 0 auto;
}

.about-us-text h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
}

.about-us-text p {
  color: white;
  font-size: 20px;
  line-height: 1.6;
  max-width: 600px;
}

.about-us-img img {
  width: 400px;
  border-radius: 10px;
}

.about-us-text a {
  display: inline-block;
  padding: 12px 30px;

  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;

  border-radius: 8px;
  transition: 0.3s;
  margin-top: 10px;
}

.about-us-text a:hover {
  background: linear-gradient(45deg, #00f5d4, #00bbf9);
  color: black;
  transform: scale(1.05);
}

/* СЕКЦИЯ: Footer */

/* СЕКЦИЯ: Footer logo */
.footer {
  background: linear-gradient(to right, #0a0a0a, #0f172a);
  text-align: center;
  padding: 20px;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 7px;

  background: #00f5d4;
  box-shadow: 0 0 10px #00f5d4;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo p {
  color: #fff;
  font-size: 18px;
  text-align: left;
}

.footer-logo img {
  width: 120px;
  margin-top: 10px;
}

/* СЕКЦИЯ: Соцсети footer */
.footer-socials p {
  font-size: 24px;
  letter-spacing: 1px;
  color: #fff;
  text-align: left;
}

.social-footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon-footer {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  background: transparent;
  
  transition: 0.3s;
}

.social-icon-footer img {
  width: 36px;
  height: 36px;

  filter: brightness(1) invert(1);
  transition: 0.3s;
}

.social-icon-footer::before {
  content: "";
  position: absolute;

  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;

  background: linear-gradient(45deg, #21c3b9, #178b86, #092a26, #21c3b9);
  background-size: 300%;
  opacity: 0;

  z-index: -1;
  filter: blur(10px);

  transition: 0.3s;
}

@keyframes gradientMove {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}

.social-icon-footer:hover::before {
  opacity: 1;
  animation: gradientMove 3s linear infinite;
}

.social-icon-footer:hover img {
  filter: brightness(1);
}

.social-icon-footer:hover {
  transform: translateY(-5px) scale(1.1);
}

/* СЕКЦИЯ: Footer navigation */
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav p {
  color: #fff;
  font-size: 24px;
  text-align: left;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-nav a:hover {
  color: #21c3b9;
}

/* СЕКЦИЯ: Footer bottom */
.footer-bottom {
  margin-top: 40px;
  text-align: center;
}

.footer-bottom p {
  color: #fff;
  font-size: 16px;
}



/* ОСНОВНАЯ ЧАСТЬ: our_projects.html */

.hero-content-TAO {
  position: relative;
  z-index: 2;
}

.hero-logo-TAO {
  width: 650px;
  transform: translateY(-100px);
  background-attachment: fixed;

  filter:
    drop-shadow(0 0 10px rgba(33, 195, 185, 0.6))
    drop-shadow(0 0 20px rgba(33, 195, 185, 0.4));
}

.TAO-hero {
  height: 100vh;

  background-image: url("../Картинки/TAO.png");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;

  background-attachment: fixed;

  position: relative;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.TAO-hero::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(to right, rgba(10,10,10,0.7), rgba(10,10,10,0.3), rgba(10,10,10,0.7));

  z-index: 1;
}

.status-TAO {
  color: #00f5d4;
  font-size: 32px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;

  letter-spacing: 1px;
}


/* ОСНОВНАЯ ЧАСТЬ: about.html */

/* Секция: ПРО НАС */
body {
  background: linear-gradient(to bottom, #0a0a0a, #0f172a, #0b3d3a);
}

.about-team-section {
  padding: 180px 50px;
  align-items: center;
}

/* Разделяющаяя линия */
.section-divider {
  width: 100%;
  display: flex;
  justify-content: center;

  background: #0f172a;
}

.section-divider::before {
  content: "";
  width: 100%;
  left: 0%;
  bottom: 0%;

  padding: 3px 0;

  background: #00f5d4;
  box-shadow: 0 0 10px #00f5d4;
}

/* Секция: СОСТАВ КОМАНДЫ */

/* Секция */
.team {
  text-align: center;
  padding: 160px 20px;
  background: linear-gradient(to bottom,  #1f2a40, #2c5364);
  overflow: visible;
}

/* Заголовок */
.team h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 48px;
  letter-spacing: 1px;
  color: #fff;

  text-shadow: 0 0 20px rgba(0,245,212,0.4);
}

/* Сетка (4 в ряд) */
.team-grid {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

/* КАРТОЧКА */
.member {
  position: relative;
  width: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Аватарка */
.member img {
  width: 100%;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;

  box-shadow: 0 0 20px rgba(0, 245 , 212, 0.4);
}

/* Hover эффект */
.member:hover img {
  transform: scale(1.1s);
  box-shadow: 0 0 15px #00f5d4, 0 0 30px rgba(0,245,212,0.6);
}

/* ВЫПАДАЮЩЕЕ ОКНО */
.member-info {
  position: absolute;
  top: 110%;
  min-height: 120px;

  left: 50%;
  transform: translateX(-50%) translateY(10px);

  width: 220px;
  padding: 15px;

  background: rgba(20, 30, 50, 0.95);
  border-radius: 10px;

  opacity: 0;
  pointer-events: none;

  transition: 0.3s;

  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  z-index: 10;
}

.member::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
}

/* Появление */
.member:hover .member-info {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

/* ТЕКСТ В КАРТОЧКЕ */
.member-info h3 {
  color: #fff;
  font-size: 18px;
}

.member-info p {
  color: #e5e5e5;
  font-size: 14px;
  margin-top: 5px;
}

.member-socials {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.member-socials img {
  width: 36px;
  height: 36px;

  filter: brightness(1) invert(1);
  transition: 0.3s;
}

.member-socials img:hover {
  transform: scale(0.2s);
  filter: brightness(1) invert(1) drop-shadow(0 0 6px #00f5d4);
}



/* ОСНОВНАЯ ЧАСТЬ: updates.html */
.updates {
  background: linear-gradient(to bottom, #0a0a0a, #0f172a, #0b3d3a);
  padding: 170px 0px 100px;
}

.updates h1 {
  text-align: center;
  color: #fff;
  font-size: 48px;

  margin-bottom: 60px;
}

.updates-grid {
  max-width: 1200px;
  margin: auto;

  display: grid;
  gap: 50px;
}

.update-card {
  background:#182235;
  border-radius: 10px;
  overflow: hidden;
  transition:.35s;
  border: 1px solid rgba(255,255,255,.08);
}

.update-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(0,245,212,.18);
}

.update-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.update-content {
  padding: 30px;
}

.update-date {
  color: #fff;
  font-size: 16px;
}

.update-content h2 {
  color: #fff;
  font-size: 34px;
  margin: 15px 0;
}

.update-content p {
  color: #d2d2d2;
  font-size: 19px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.update-button {
  display: inline-block;
  padding: 14px 30px;
  font-size: 18px;

  background: linear-gradient(45deg, #00f5d4, #00bbf9);
  color: white;

  border-radius: 8px;
  text-decoration: none;

  transition:.3s;
}

.update-button:hover {
  transform: scale(1.05);
  box-shadow:  0 0 18px rgba(0,245,212,.35);
}


/* СТИЛИ ДЛЯ НОВОСТЕЙ */
.news-page {
  background: linear-gradient(to bottom, #0a0a0a, #0f172a, #0b3d3a);
  padding: 170px 0px 100px;
}

.news-container {
  max-width: 1000px;
  margin: 0 auto;
}

.news-container h1 {
  text-align: center;
  color: #fff;
  font-size: 52px;

  margin-bottom: 15px;
}

.news-date {
  text-align: center;
  color: #b7c7d9;
  font-size: 20px;

  margin-bottom: 45px;
}

.news-image {
  margin-bottom: 50px;
}

.news-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0,245,212,.15);
}

.news-description {
  color: #182235;
  font-size: 20px;
  line-height: 1.9;
  padding: 40px 45px;
}

.news-description p {
  color:#e8e8e8;
  font-size:20px;
  line-height:1.9;
  margin-bottom:25px;
}

.news-description p:last-child {
  margin-bottom: 0;
}


/* ОСНОВНАЯ ЧАСТЬ: contact.html */
.contact {
  min-height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 120px 20px;
  text-align: center;
}

.contact-container h1 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 20px;
}

.contact-container {
  max-width: 700px;
}

.contact-container p {
  color: #d8d8d8;
  font-size: 22px;
  margin-bottom: 25px;
  line-height: 1.7;
}

.contact-email {
  display: inline-block;

  font-size: 28px;
  font-weight: 600;

  color: #00f5d4;
  text-decoration: none;
  transition: 0.3s;
}

.contact-email:hover {
  color: #00bbf9;
  text-shadow: 0 0 10px rgba(0, 245, 212, .6);
}